<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UPDATE</title>
</head>
<body>
    <div class="container">
        <form action="/updateData" method="post">
            <input type="text" name="id" value="<%= products[0].id%>" readonly>
            <input type="text" placeholder="Name" name="name" value="<%= products[0].name%>">
            <input type="text" placeholder="Type" name="type" value="<%= products[0].type%>">
            <input type="number" placeholder="Price" name="price" value="<%= products[0].price%>">
            <input type="submit" placeholder="Submit">
        </form>
    </div>
</body>
</html>